
$light-blue: #19AEE8;
$light-blue-accent: #19AEE8;

$blue: #106ED9;
$blue-accent: #0C66AB;

$green: #58B95A;

$yellow: #F3C41B;

$orange: #DD5132;

$base-background: #f4f4f4;
$bsae-border: #cccccc;

$white: #ffffff;
