.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1.00rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid $grey-700;
  border-radius: 10px;
  color: $grey-800;
  background-color: transparent;
}

.button[disabled] {
  color: $grey-50;
  border: 1px solid $grey-300;
  cursor: default;
}

.button-success {
  border: 1px solid $green-700;
  color: $grey-50;
  background-color: $green-700;
}

.button-success:hover {
  color: $green-700;
  background-color: $grey-50;
  transition: 300ms ease;
}
