@import "../../../../styles/helpers/colors";

.paging-bar {
  margin: 1.0rem 1.0rem 1.0rem 1.0rem;
}

.btn-paging {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1.00rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid $green-800;
  border-radius: 10px;
  color: $green-800;
  background-color: transparent;
}

.btn-paging[disabled] {
  color: $green-300;
  border: 1px solid $green-300;
  cursor: default;
}

.paging-buttons {
  span {
    color: $green-800;
    padding: 0 0.50rem;
  }
}
