.btn-paging {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1.00rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid #0000;
  border-radius: 4px;
}
