@import "../../../../styles/helpers/colors";

.task-container {
  height: 300px;
  border: $blue-grey-100 solid 1px;
  border-left: $blue-grey-100 solid 4px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: $grey-700;
  padding: 1.00rem 0.500rem 1.00rem 0.500rem;
}

.task-name {
  font-size: 1.10rem;
  font-weight: 600;
  padding: 0.20rem 0.5rem;
}

.task-description {
  height: 7.25rem;
  padding: 0 0.6rem;
}

.task-starts,
.task-expires {
  display: flex;
  justify-content: space-between;
  margin-right: 1.0rem;
  padding: 0 0.6rem;
}

.button-task-row {
  display: flex;
  justify-content: flex-end;
}

.past-due-status {
  display: flex;
  justify-content: flex-end;

  span {
    width: 1.00rem;
    border-radius: 0.50rem;
  }
}

.light-bulb-red {
  background-color: $red-500;
}

.light-bulb-yellow {
  background-color: $yellow-500;
}

.light-bulb-green {
  background-color: $green-500;
}
