<avi-default-layout [isLoading]="isLoading$ | async">

  <div class="empty-task-list" *ngIf="!(myTasks$ | async)?.length">
    <div class="card">
      <h3>
        No Active Tasks
      </h3>
      <div class="button-row">
        <button class="btn arrow fas fa-arrow-right" type="submit" (click)="addTask()">
          <span>Add a Task</span>
        </button>
      </div>
    </div>
  </div>

  <div class="my-task-list" *ngIf="(myTasks$ | async)?.length">
    <avi-my-task-list [myTasks]="myTasks$ | async" [pagingInfo]="pagingInfo$ | async" [statuses]="statuses"
      (statusSelected)="onStatusSelected($event)"></avi-my-task-list>
    <div class="k-block button-row">
      <button class="button button-success" type="submit" (click)="addTask()">
        Add a Task
      </button>
    </div>
  </div>

</avi-default-layout>
