<avi-default-layout [isLoading]="isLoading$ | async">

  <div class="empty-task-list" *ngIf="!(myTasks$ | async)?.length">
    <div class="card">
      <h3>
        No Active Tasks
      </h3>
      <div class="button-row">
        <button class="btn arrow fas fa-arrow-right" type="submit" (click)="addTask()">
          <span>Add a Task</span>
        </button>
      </div>
    </div>
  </div>

  <div class="my-task-list" *ngIf="(myTasks$ | async)?.length">
    <div class="card">
      <avi-my-task-list [myTasks]="myTasks$ | async"></avi-my-task-list>
    </div>
  </div>

</avi-default-layout>
