@import '../../../../styles/helpers/colors';
a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 0.5rem 1.00rem 0.5rem 1.00rem;
  transition: 300ms ease;
}

a:hover {
  font-size: 1.22rem;
  text-decoration: underline;
}



.active {
  background-color: $green-600;
}
