@import "../helpers/colors";

.btn {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: .8em 4.7em .8em 1.4em;
  background: $blue-grey-400;
  border: none;
  color: white;
  transition: .2s;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    font-size: 1.2em;
    text-align: center;

    transition: .2s;
    transform-origin: 50% 60%;
  }
  &:before {
    background: $blue-grey-400;
  }
  &:hover {
    background: darken($blue-grey-400, 10%);
  }
  &:active,
  &:focus {
    background: darken($blue-grey-400, 30%);
    outline: none;
  }

  span {
    font-family: 'Lato', serif;
  }
}

.btn {
  min-width: 7em;
}

.arrow {
  background: $blue-grey-600;
  &:hover {
    background: darken($blue-grey-600, 10%);
  }
  &:active,
  &:focus {
    background: darken($blue-grey-600, 30%);
  }

  &:hover:after {
    -webkit-animation: bounceright .3s alternate ease infinite;
    animation: bounceright .3s alternate ease infinite;
  }
}

.phone {
  background: #139675;
  &:hover {
    background: darken(#139675, 10%);
  }
  &:active,
  &:focus {
    background: darken(#139675, 20%);
  }

  &:hover:after {
    -webkit-animation: wiggle .05s alternate ease infinite;
    animation: wiggle .05s alternate ease infinite;
  }
}

.email {
  background: #C673B3;
  &:hover {
    background: darken(#C673B3, 10%);
  }
  &:active,
  &:focus {
    background: darken(#C673B3, 20%);
  }
  &:after {
    content: "\F0E0";
  }
  &:hover:after {
    -webkit-animation: none;
    -webkit-transform: skew(-20deg);
    animation: none;
    transform: skew(-20deg);
    text-indent: .1em;
  }
}

.search {
  &:after {
    content:"\f002";
  }
  &:hover:after {
    -webkit-animation: none;
    -webkit-transform: scale(1.4);
    animation: none;
    transform: scale(1.4);
  }
}


@-webkit-keyframes bounceright {
  from { -webkit-transform: translateX(0); }
  to   { -webkit-transform: translateX(3px); }
}

@-webkit-keyframes wiggle {
  from { -webkit-transform: rotate(0deg); }
  to   { -webkit-transform: rotate(30deg); }
}

@keyframes bounceright {
  from { transform: translateX(0); }
  to   { transform: translateX(3px); }
}

@keyframes wiggle {
  from { transform: rotate(0deg); }
  to   { transform: rotate(30deg); }
}
