.expires-at {
  margin-bottom: 2px;
}

.field-row {
  margin-top: 0.750rem;

  .input-container {
    margin-top: 0.250rem;
  }
}

.add-notification-button-row {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0 0 0;
}
