<div class="form-default width-button-row">

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

    <div class="section">Task Name &amp; Description</div>
    <div class="inner-wrap">
      <label for="taskName">Task Name
        <input id="taskName" type="text" name="taskName" formControlName="taskName" />
      </label>
      <label for="taskDescription">Description
        <textarea id="taskDescription" type="text" name="taskDescription" formControlName="taskDescription"></textarea>
      </label>
      <div>
        <label for="expiresAt" class="expires-at">Task Expires</label>
        <kendo-datepicker formControlName="expiresAt" [min]="minExpiresAt" [max]="maxExpiresAt" required></kendo-datepicker>
        <kendo-timepicker formControlName="expiresAtTime"></kendo-timepicker>
      </div>
      <div class="field-row">
        <label>
          Task Status
          <div class="input-container">
            <kendo-dropdownlist isRequired="true" formControlName="status" [data]="statuses" [textField]="'statusName'"
              [valueField]="'id'">
            </kendo-dropdownlist>
          </div>

        </label>
      </div>
    </div>

    <div class="section">Notifications</div>
    <div class="inner-wrap" *ngIf="!!notificationTypes">
      <avi-notification-group *ngFor="let item of taskForm.get('notifications').controls; let i=index" [index]="i"
        [notification]="item"></avi-notification-group>
    </div>

    <div class="button-row">
      <button class="btn arrow fas fa-arrow-right" type="submit">
        <span>Save</span>
      </button>
    </div>
  </form>

</div>
